.user-page {
  box-sizing: border-box;
  padding: 0px 20px 260px 20px;
  min-height: 100vh;
  box-sizing: border-box;

  &.read-mode {
    background: #F4ECD8;
  }
  .no-data {
    text-align: center;
    padding-top: 160px;
    font-size: 40px;
    color: #666666;
  }
}


.at-modal__container{
  width: 600px;
}
.video-container {
  height: 256px;
  position: fixed;
  bottom:0;
  left:0vw;
  width: 100vw;
  background: white;
  z-index: 1;
}

.float-help {
  z-index: 9999;
  position: fixed;
  top: 200px;
  right: 60px;
}
