.index-page {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 0px;
  margin-top: 0px;
  background: #fff;
  overflow-y: scroll;
  position: relative;

  &.read-mode {
    background: #F4ECD8;
  }

  .main-swiper {
    height: 400px;
  }
  .swiper-item-container {
    .image {
      height: 400px;
      width: 100vw;
    }
  }

  .menus {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
  }

  .menu-item {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .reading {
      width: 160px;
      height: 160px;
    }
    .menu-text {
      text-align: center;
      font-size: 32px;
    }
  }

}



