.index-page {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 60px;
  background: #fff;
  overflow-y: scroll;
  position: relative;
  &.read-mode {
    background: #F4ECD8;
  }

  .float-help {
    position: absolute;
    top: 170px;
    right: 60px;
  }

  .float-analytics {
    position: absolute;
    top: 280px;
    right: 60px;
  }

}

.footer-logo {
  position: fixed;
  top: 50%;
  left: 0%;
  background: rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 999px rgba(0,0,0,0.5);
  line-height: 100px;
  height: 90px;
  font-size: 60px;
  width: 100%;
  text-align: center;
  color: rgba(97, 144, 232, 0.8);
  -webkit-animation: blurFadeInOut 8s ease-in backwards;
  -moz-animation: blurFadeInOut 8s ease-in backwards;
  -ms-animation: blurFadeInOut 8s ease-in backwards;
  animation: blurFadeInOut 8s ease-in backwards;
}

.float-setting {
  position: fixed;
  top: 260px;
  right: 40px;
  z-index: 102;
  .setting {
    width: 100px;
    height: 100px;
  }
}
.tag-line {
  color: burlywood;
  display: flex;

  .law {
    width: 30vw;
  }
  .number {
    width: 70vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
  }
}
