.index-page {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 60px;
  background: #fff;
  overflow-y: scroll;
  position: relative;
  &.read-mode {
    background: #F4ECD8;
  }

  .float-help {
    z-index: 9999;
    position: fixed;
    top: 460px;
    right: 50px;
  }

  .float-menu {
    position: fixed;
    top: 320px;
    left: 60px;
  }

  .float-analytics {
    position: absolute;
    top: 280px;
    right: 60px;
  }

}

.footer-logo {
  position: fixed;
  top: 50%;
  left: 0%;
  background: rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 999px rgba(0,0,0,0.5);
  line-height: 100px;
  height: 90px;
  font-size: 60px;
  width: 100%;
  text-align: center;
  color: rgba(97, 144, 232, 0.8);
  -webkit-animation: blurFadeInOut 8s ease-in backwards;
  -moz-animation: blurFadeInOut 8s ease-in backwards;
  -ms-animation: blurFadeInOut 8s ease-in backwards;
  animation: blurFadeInOut 8s ease-in backwards;
}

.float-setting {
  position: fixed;
  top: 280px;
  right: 40px;
  z-index: 102;
  .setting {
    width: 100px;
    height: 100px;
  }
}
.tag-line {
  color: burlywood;
  display: flex;

  .law {
    width: 30vw;
  }
  .number {
    width: 70vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
  }
}


.at-input {
  margin-left: 0px;
}

.at-modal__footer .at-modal__action>button.btn-5 {
  color: white;
  background: #6190E8;
  font-size: 36px;
  font-weight: bold;
  margin: 0 30px;
  //animation: enabled 4s infinite;
}


.at-input__container {
  text-align: center;
}
.at-input {
  input {
    font-size: 34px;
    color: #6190E8;
  }
}
.search-law {
  text-align: center;
  color: #6190E8;
  font-size: 28px;
  margin: 30px;
  text-decoration: underline;
  text-decoration-color: #6190E8;
}

.at-modal__content {
  height: 340px;
}

//@keyframes enabled {
//  0% {
//    color: #004d00;
//  }
//  50% {
//    color: #5cd65c;
//  }
//  100% {
//    color: #004d00;
//
//  }
//}

.at-tag--circle {
  margin: 8px 6px 4px 6px;
}

