.index-page {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 100px;
  background: #fff;
  overflow-y: scroll;
  position: relative;

  &.read-mode {
    background: #F4ECD8;
  }

  .main-swiper {
    height: 400px;
  }
  .swiper-item-container {
    .image {
      height: 400px;
      width: 100vw;
    }
  }
}



